<!-- Error messages for any error that occurs from this page -->
<%= erb :'_errors', layout: false, locals: { errors: @errors} %>

<!-- question -->
<h2><%= @question.title %></h2>
<p>Posted By: <%= @question.author.username %></p>
<h3>Question</h3>
<%= erb :'_votes', layout: false, locals: {votable_item: @question} %>
<p class="question">"<%=@question.body%>"</p>
<%= erb :'/_comments', layout: false, locals: {comments: @question.comments } %>

<!-- best answer -->
<% if @best_answer %>
  <div id="best_answer">
    <h3>Best Answer</h3>
    <%= erb :'_votes', layout: false, locals: {votable_item: @best_answer} %>
    <p class="answer">
      <%= @best_answer.body %>, <%= @best_answer.responder.username %>
      <%= erb :'/_comments', layout: false, locals: {comments: @best_answer.comments } %>
    </p>
  </div>
<% end %>

<!-- other answers -->
<h3>Other Answers</h3>
<% @other_answers.each do |answer| %>
  <div>
    <p class="answer"> <%=answer.body%>, <%= answer.responder.username %></p>
    <%= erb :'_votes', layout: false, locals: {votable_item: answer} %>
    <form action='/answers/<%= answer.id %>' method='POST'>
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="SELECT AS BEST ANSWER">
    </form>
  </div>
   <%= erb :'/_comments', layout: false, locals: {comments: answer.comments } %>
<% end %>


<!-- post new answer -->
<h3>Post New Answer</h3>
<form action="/answers" method="post">
  <textarea rows="4" cols="50" name="body"></textarea><br>
  <input type="hidden" name="question_id", value="<%=@question.id %>">
  <input type="submit" value="Post Now">
</form>

