<!-- Error messages for any error that occurs from this page -->
<%= erb :'_errors'%>

<!-- question -->
<h2><%= @question.title %></h2>
<p>Posted By: <%= @question.author.username %></p>
<h3>Question</h3>

<div class="question_container">
  <table>
    <tr>
      <td class="vote_container">
        <%= erb :'_votes', layout: false, locals: {votable_item: @question} %>
      </td>
      <td class="body_text">
        "<%=@question.body%>"
      </td>
    </tr>
  </table>
  <%= erb :'/_comments', layout: false, locals: {comments: @question.comments } %>
  <br>
  <%= erb :'/_add_comment', layout: false, locals: {commentable_item: @question} %>
</div>

<!-- best answer -->
<div class="best-answer-outer-container">
  <% if @question.best_answer %>
    <%= erb :'/_best_answer', layout: false, locals: {question: @question} %>
  <% end %>
</div>

<!-- other answers -->
<div class="all_answers">
  <h3>Other Answers</h3>
  <% @question.other_answers.each do |answer| %>
    <%= erb :'/_answer', layout: false, locals: {answer: answer} %>
  <% end %>
</div>


<!-- post new answer -->
<h3>Post New Answer</h3>
<form class="new-answer-form" action="/answers" method="post">
  <textarea rows="4" cols="50" name="body"></textarea><br>
  <input type="hidden" name="question_id", value="<%=@question.id %>">
  <input type="submit" value="Post Answer">
</form>

