<tr>
  <td class="countables">
    <%= @question.vote_sum %><br>
    <span>Votes<span>
  </td>
  <td class="countables">
    <%= @question.answers.count%><br>
    <span>Answers<span>
  </td>
  <td>
    <a href="/questions/<%= @question.id %>"><%= @question.title %></a>
  </td>
  <td>
    By: <%= @question.author.username %><br>
    Posted On: <%= @question.created_at %>
  </td>
</tr>