<h2>Welcome to the best resource page for anything you want!</h2>

<form>
  <button class="new_question_button">Submit a New Question</button>
</form>

<form class="new_question_form" action="/questions" method="POST">
  <h3>Post A New Question</h3>
  <%= erb :'_errors'%>
  Question Title:<br>
  <input class="new-question-input" type="text" size="50" name="question_title"/><br>
  Question Body:<br>
  <textarea class="new-question-input" rows="4" cols="50" name="question_body"></textarea><br>
  <input type="submit" value="Post New Question">
</form>

<h3>Existing Questions</h3>
<ul class="question-container">
  <% @questions.each do |question| %>
    <li>
      Votes: <%= question.vote_sum %>
      Answers: <%= question.answers.count%> --
      <a href="/questions/<%= question.id %>"><%= question.title %></a> --
      By: <%= question.author.username %>
    </li>
  <% end %>
</ul>

